/* body{
    background-color: red;
} */

/* navigation */
#navbar{
    flex-direction: column;
}

#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;

}

/* home_section */

#home{
    height: 377PX;
    padding: 3px 28px;

}

#home::before{
    height: 480px;
    width: 101%;
}

#home p{
    font-size: 14px;
}

/* service_section */

#services{
    flex-direction: column;
}

/* clients_section */
#clients{
    flex-wrap: wrap;
}

#clients img{
    height: auto;
}

/* contact_section */

#contact-box {
    padding-top: 5%;
}

#contact-box form {
    width: 90%;
} 

/* footer_section */

/* utility_classes */
.h-primary{
    font-size: 28px;
}

.btn{
    font-size: 13px;
    padding: 4px 8px;
}

.costa{
    font-size: 40px;
}

.h-primary2{
    font-size: 35px;
    padding: 18px 10px 0px 10px;
}

.h-secondary{
    font-size: 25px;
}


